/* loading.io - referência para gerar o svg */

.spinner {
    position: fixed;
    top: calc(50% - 35px/2);
    left: calc(50% - 35px/2);
    border-radius: 50%;
    z-index: 50000;
    background-color: black;
}

@media screen and (min-width: 992px) {
    
}